<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/app.css" type="text/css">
</head>

<body>
<div class="black-menu-bar">
    <div class="logo">
        <img src="../img/icon/logo.png" height="18" width="13" alt="logo"/>
        <p class="text-header">feature</p>
    </div>
    <div class="logo right-menu">

        <div class="dropdown button-menu">
            <button class="btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="text-header login-text">share</p>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><img src="../img/icon/logo-facebook.png" height="17" width="17" alt="facebook"/> facebook</a>
                <hr>
                <a class="dropdown-item" href="#"><img src="../img/icon/logo-twitter.png" height="17" width="17" alt="twitter"/> twitter</a>
                <hr>
                <a class="dropdown-item" href="#"><img src="../img/icon/logo-google+.png" height="17" width="17" alt="google"/> google+</a>
                <hr>
                <a class="dropdown-item" href="#"><img src="../img/icon/logo-pinterest.png" height="17" width="17" alt="pinterest"/> pinterest</a>
            </div>
        </div>
        <i class="fas fa-search"></i>
        <i class="fas fa-user"></i>
    </div>
</div>
<div class="block-news">
    <div class="news grid-item-1">
        <div class="button button-on-img">read more</div>
        <img src="../img/media/one.png" height="666" width="615" alt="garden"/>

        <div class="comments">
                <img src="../img/icon/lg-data.png" height="11" width="11" alt="data"/>
                <p>23 july, 2017</p>
                <img src="../img/icon/lg-comments.png" height="10" width="11" alt="comments"/>
                <p>2 Comments</p>
        </div>
        <h2>Untrodden Broadway: The Hidden Gems of a World-Famous Street </h2>
        <p>I am three blocks from the Broadway local subway stop, just past West 204th Street. Right before me is a
            time machine, capable of transporting me back to when most of Manhattan north of Canal Street consisted
            of hilly meadows, orchards and plowed fields. The Dyckman Farmhouse and Museum is the oldest remaining
            farmhouse in the borough, made of fieldstone, brick and white clapboard with a gambrel room and Dutch
            door, dating from about 1783 — a magical stop on Broadway’s least-discovered northern stretch.
        </p>
        <hr class="line">
    </div>
    <div class="news grid-item-2">
        <div class="button button-on-img">read more</div>
        <img src="../img/media/two.png" height="278" width="370" alt="firefox"/>
        <div class="comments">
            <img src="../img/icon/lg-data.png" height="11" width="11" alt="data"/>
            <p>23 july, 2017</p>
            <img src="../img/icon/lg-comments.png" height="10" width="11" alt="comments"/>
            <p>2 Comments</p>
        </div>
        <h2>Firefox Is Back. It’s Time to Give It a Try.</h2>
        <p>
            Do you ever feel that the web is breaking?
            When shopping online for a toaster oven, you can expect an ad for that oven to stalk you from site to site.
            If you have just a few web browser tabs open, your laptop battery drains rapidly. And don’t get me started
            on those videos that automatically play when you’re scrolling through a webpage.
        </p>
        <hr class="line">
    </div>
    <div class="news grid-item-3">
        <div class="button button-on-img">read more</div>
        <img src="../img/media/three.png" height="278" width="370" alt="people"/>
        <div class="comments">
            <img src="../img/icon/lg-data.png" height="11" width="11" alt="data"/>
            <p>23 july, 2017</p>
            <img src="../img/icon/lg-comments.png" height="10" width="11" alt="comments"/>
            <p>2 Comments</p>
        </div>
        <h2>Amazon Urged Not to Sell Facial Recognition Technology to Police</h2>
        <p>
            Shankar Narayan, legislative director of the American Civil Liberties Union of Washington, speaking at a
            news conference outside Amazon headquarters.
        </p>
        <hr class="line">
    </div>
    <div class="news grid-item-4">
        <div class="button button-on-img">read more</div>
        <img src="../img/media/four.png" height="321" width="482" alt="apple"/>
        <div class="comments">
            <img src="../img/icon/lg-data.png" height="11" width="11" alt="data"/>
            <p>23 july, 2017</p>
            <img src="../img/icon/lg-comments.png" height="10" width="11" alt="comments"/>
            <p>2 Comments</p>
        </div>
        <h2>Apple Plans to Stream Children’s Shows From Sesame Workshop</h2>
        <p>
            Apple’s chief executive, Timothy D. Cook, at its conference for developers this month. With 15 new series
            announced, the tech giant is getting closer to its streaming future.
        </p>
        <hr class="line">
    </div>
    <div class="news grid-item-5">
        <div class="button button-on-img">read more</div>
        <img src="../img/media/five.png" height="288" width="385" alt="word"/>
        <div class="comments">
            <img src="../img/icon/lg-data.png" height="11" width="11" alt="data"/>
            <p>23 july, 2017</p>
            <img src="../img/icon/lg-comments.png" height="10" width="11" alt="comments"/>
            <p>2 Comments</p>
        </div>
        <h2>World Environment Day</h2>
        <p>
            People celebrate World Environment Day (WED) in many different ways all over the world: planting trees,
            cleaning up local beaches, organising meetings, joining online protests. Each year the United Nations
            Environment Programme (UNEP) chooses a particular issue to focus on. One year it might be forests, another
            year it might be wildlife. And each year there is a new host; a city which is the centre point for all the
            celebrations.
        </p>
        <hr class="line">
    </div>
</div>
<div class="button">load more</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>