.text-header:hover {
    cursor: pointer;
    color: white;
}

.black-menu-bar {
    height: 66px;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.logo > img {
    margin-right: 20%;
}

.text-header {
    color: #ffffff;
    font-family: Righteous;
    margin: auto;
    font-weight: 400;
    text-transform: uppercase;
}

.login-text {
    font-size: 12px;
}

.right-menu {
    padding: 0 3%;
}

.right-menu > i {
    opacity: 0.5;
    color: #ffffff;
    margin-left: 20%;
}

i:hover {
    cursor: pointer;
    color: white;
    opacity: 1;
}

.comments {
    align-items: baseline;
    display: flex;
}

.block-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
    padding: 2%;
}

.grid-item-1 {
    grid-area: 1/1;
}

.grid-item-2 {
    grid-area: 1/2;
}

.grid-item-3 {
    grid-area: 1/3;
}

.grid-item-4 {
    grid-area: 2/2;
}

.grid-item-5 {
    grid-area: 2/3;
}

.line {
    margin: 5% 0;
    height: 6px;
    background-color: #41e9ff;
}

.news {
    height: 100vh;
}

.news > img {
    width: 100%;
}

.button {
    width: 174px;
    height: 53px;
    border: 3px solid #41e9ff;
    margin: 10% auto;
    color: #41e9ff;
    font-family: Righteous;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-on-img {
    opacity: 0;
    position: absolute;
    margin: 9%;
}

.dropdown-menu>hr {
    height: 1px;
    background-color: #242424;
    opacity: 0.1;
}

.dropdown-menu>a {
    color: #242424;
    font-family: Righteous;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .block-news {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-item-3 {
        grid-area: 2/2;
    }

    .grid-item-5 {
        grid-area: 3/2;
    }

    .grid-item-4 {
        grid-area: 3/1;
    }
}

@media screen and (max-width: 1000px) {
    .block-news {
        display: flex;
        flex-direction: column;
    }

    .news {
        height: 100%;
        padding: 10%;
    }
}